body {
  background-color: #F4F9F9;
  margin: 0;
}

.top {
  background-color: #E4FBFF;
  text-align: center;
}

h1 {
  font-family: 'Sacramento', cursive;
  color: #219F94;
  font-weight: bold;
  font-size: 5.25em;
}

.dev {
  font-size: 3em;
  font-family: 'Kaushan Script', cursive;
}

.firstCloud {
  height: 11.875em;
  width: 12.5em;
  position: relative;
  top: 0.625em;
  left: 25em;
}

.mountain {
  height: 85%;
  width: 100%;
  display: inline-block;
}

.thirdCloud {
  height: 13.75em;
  width: 16.25em;
  position: absolute;
  top: 3.125em;
  right: 56.25em;
}

.avatar {
  height: 9.375em;
  width: 9.375em;
  margin-left: 10%;
}

.seprator {
  border-color: #9D9D9D;
  border-top-style: dotted;
  border-top-width: 0.62em;
  margin-top: 1.875em;
  margin-left: 45%;
  margin-right: 45%
}

.middle1 {
  display: inline-block;
  font-family: 'Supermercado One', cursive;
  margin-left: 5%;
  font-size: 2.5rem;
}

.devloper {
  position: absolute;
  margin-left: 80%;
  margin-top: 4%;
  height: 10em;
  width: 10em;
}

.middle2 {
  display: inline-block;
  font-family: 'Supermercado One', cursive;
  margin-left: 30%;
  margin-top: 5%;
  font-size: 2.5em;
}

.tutor {
  position: absolute;
  height: 10em;
  width: 10em;
  margin-top: 4%;
  margin-left: 10%;
}

.middle3 {
  display: inline-block;
  font-family: 'Supermercado One', cursive;
  margin-top: 5%;
  margin-left: 25%;
  font-size: 2.em;
}

.bottom {
  padding-top: 0.625em;
  background-color: #E4FBFF;
}

.btn {
  display: block;
  font-family: cursive;
  padding-left: 45%;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 1.5em;
  font-weight: bold;
}

.footer-link1 {
  display: inline-block;
  position: absolute;
  font-family: 'Supermercado One', cursive;
  font-size: 1.8em;
}

.footer-link2 {
  display: inline-block;
  font-family: 'Supermercado One', cursive;
  font-size: 1.8em;
  padding-bottom: 5%;
}

.hr {
  margin-top: 12.5em;
  margin-bottom: 12.5em;
}

.img1 {
  display: inline-block;
  height: 1.563em;
  width: 1.563em;
  padding-left: 32%;
  border-radius: 50%;
}

.img2 {
  display: inline-block;
  height: 1.563em;
  width: 1.563em;
  padding-left: 26%;
  border-radius: 50%;
}
