body {
  background-color: #F4F9F9;
  margin: 0;
}

.top {
  background-color: #E4FBFF;
  text-align: center;
}

h1 {
  font-family: 'Sacramento', cursive;
  color: #219F94;
  font-weight: bold;
  font-size: 525%;
}

.dev {
  font-size: 300%;
  font-family: 'Kaushan Script', cursive;
}

.firstCloud {
  height: 1187.5%;
  width: 1250%;
  position: relative;
  top: 625%;
  left: 2500%;
}

.mountain {
  height: 85%;
  width: 100%;
  display: inline-block;
}

.thirdCloud {
  height: 1375%;
  width: 1625%;
  position: absolute;
  top: 3125%;
  right: 5625%;
}

.avatar {
  height: 937.5%;
  width: 937.5%;
  margin-left: 10%;
}

.seprator {
  border-color: #9D9D9D;
  border-top-style: dotted;
  border-top-width: 625%;
  margin-top: 187.5%;
  margin-left: 45%;
  margin-right: 45%
}

.middle1 {
  display: inline-block;
  font-family: 'Supermercado One', cursive;
  margin-left: 5%;
  font-size: 250%;
}

.devloper {
  position: absolute;
  margin-left: 80%;
  margin-top: 4%;
  height: 1000%;
  width: 1000%;
}

.middle2 {
  display: inline-block;
  font-family: 'Supermercado One', cursive;
  margin-left: 30%;
  margin-top: 5%;
  font-size: 250%;
}

.tutor {
  position: absolute;
  height: 1000%;
  width: 1000%;
 
}

.middle3 {
  display: inline-block;
  font-family: 'Supermercado One', cursive;
  margin-top: 5%;
  margin-left: 25%;
  font-size: 250%;
}

.bottom {
  padding-top: 0.625rem;
  background-color: #E4FBFF;
}

.btn {
  display: block;
  font-family: cursive;
  padding-left: 45%;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 150%;
  font-weight: bold;
}

.footer-link1 {
  display: inline-block;
  position: absolute;
  font-family: 'Supermercado One', cursive;
  font-size: 180%;
}

.footer-link2 {
  display: inline-block;
  font-family: 'Supermercado One', cursive;
  font-size: 180%;
  padding-bottom: 5%;
}

.hr {
  margin-top: 1250%;
  margin-bottom: 1250%;
}

.img1 {
  display: inline-block;
  height: 156.3%;
  width: 156.3%;
  padding-left: 32%;
  border-radius: 50%;
}

.img2 {
  display: inline-block;
  height: 156.3%;
  width: 156.3%;
  padding-left: 26%;
  border-radius: 50%;
}
